﻿<!DOCTYPE html>
<html lang="en" ng-app>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>5-Image</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.min.js"></script>
    <script src="app/BaseController.js"></script>
</head>
<body ng-controller="BaseController">


    <div class="container">

        <div class="header">
            <h4 class="text-muted">5-Image</h4>
            <span class="label label-info pull-right">Developer Assistant Application Questionaire</span>
        </div>

        <div class="jumbotron">
            <img ng-model="CurrentImage" src="{{CurrentImage.ImageUrl}}" alt="{{CurrentImage.Name}}" class="img-rounded" />
        </div>

        <div class="row marketing">
            <div class="col-lg-1">
            </div>


            <div class="col-lg-2" ng-repeat="item in ImageList">
                <a href="" ng-click="ChangeImage(item)">
                    <img ng-src="{{item.ThumbImageUrl}}" alt="{{item.Name}}" class="img-thumbnail" />
                </a>
            </div>


            <div class="col-lg-1">
            </div>
        </div>

    </div>



    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
</body>
</html>